/* reset all */
@import url("/Encriptador/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Raleway:wght@100;200;400&display=swap');


body{
    background:#0a3871;
}

.container-encript{
    display: flex;
    flex-direction: column;
    background: aliceblue;
    margin: 10% auto;
    align-items: center;
    width: max-content;
    padding: 10vh;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
}

.logo-content{
    flex: none;
    position: relative;
    right: 40vh;
    bottom: 5vh;
    margin-left: 5vh;
}

.title h1{
    letter-spacing: 1px;
    position: relative;
    bottom: 40px;
    font-size: 1.5em;
    color: #0a3871;
}


.content-btn{
    display: flex;
    justify-content: space-evenly;
    width: 75vh;
    padding-top: 45px;
    /* background: bisque; */
}




.box-text{
    background: #393646;
    overflow: auto;
    width: 65vh;
    height: 18vh;
    border-radius: 5px;
}

.box-text .box{
    display: inline;
    word-wrap: break-word;
    outline: none;
    border: none;
    font-size: medium;
    margin-left: 4vh;
    color: var(--second-color);
}

#text{
    padding: 45px;
    outline: none;
    width: 100%;
    border: none;
    font-size: medium;
    color: var(--second-color);
}

button{
    font-size: medium;
    padding: 15px;
    color: var(--second-color);
    background: #0a3871;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}

button:not(.clear_):hover{
    background-color: #73BBC9;
    color: #0a3871;
}


#error{
    font-size: large;
    margin: 1vh;
    position: relative;
    bottom: 20px;
    font-style: italic;
}

.clear_{
    background: none;
    width: 6vh;
    position: relative;
    left: 30vh;
    margin-top: 1vh;
}


footer{
    text-align: center;
    color: var(--second-color);
    font-family: monospace;
    font-size: small;
}

.footer{
    justify-content: space-evenly;
    display: flex;
    width: 10vh;
    margin: 10px auto;
}

